<style>
    .success{
        background-color: rgb(169, 255, 166);
        padding: 14px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid rgb(13, 161, 0);
    }
    .error{
            background-color: rgb(255, 166, 166);
            padding: 14px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: 1px solid rgb(161, 0, 0);
        
    }
    .warning{
            background-color: rgb(255, 249, 166);
            padding: 14px;
            margin-bottom: 30px;
            border-radius: 10px;
            border: 1px solid rgb(161, 145, 0);
        }
</style>
